<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>evalueat </title>
  <link rel="stylesheet" href="/stylesheets/style.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,300&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


</head>

<body>
  <div class="wrapper">
    <header>
      <h1>
        <a href="/"><img src="../images/evaluEAT.png" width="40%"></a>
      </h1>
      <nav>
        {{#if loggedIn}}
        <a href="/dashboard">add post +</span></a>
        <button id="logout" class="btn-no-style">logout</button>
        {{else}}
        | <a href="/login">login</a>
          
        {{/if}}
      </nav>
    </header>
    <main>
      {{{ body }}}
    </main>
    <footer class = "footer-container">
        {{!-- <div class = "thanks-message"
          <p> Thanks for visiting!</p>
        </div> --}}
      <div class = "links-container">
        <div class = "homepage">
          <a href="/login"><i class="fa fa-home" style: "font-size:48px; color:black"></i></a>
        </div>
        <div class = "add-post">
         <a href="/homepage">Add Post</a>
        </div>
        <div class = "logout">
         <a href="/homepage">LOGOUT</a>
        </div>
      </div>


    </footer>
  </div>
  
  {{#if loggedIn}}
  <script src="/javascript/logout.js"></script>
  {{/if}}
</body>

</html>