<section>
  <h2>Create New Post</h2>

  {{!-- second formn for image --}}
  <form method="POST" action="/upload" enctype="multipart/form-data">
   <div>
     
      <input type="text" id="post-title" name="post-title" placeholder="Title"/>
    </div>


  {{!-- insert input file ends --}}
   <div id="urlbox">
        <input type="text" id="url-title" name="url-title" placeholder="Insert Url" />
    </div>
  <label style="padding-bottom: 2%; padding-top: 1.5%;">
        <input type="file" accept="image/*" name="image" id="file"  onchange="loadFile(event)" style="display: none;"/>
    Add Photo  <i class="fa fa-upload" style="font-size:18px;"></i>
    </label>
    <div style="width: 100px; height: 100px; display: none; ">
      <img id="output" style="width:100%; object-fit: cover" src="/images/{{image_name}}"/>
    </div>
    <div>
      <label for="post-text"></label>
      <textarea name="post-text" id="post-text" cols="30" rows="10" placeholder="Say Anything..."></textarea>
    </div>
    
   
    {{!-- display the image that was uploaded dynamically --}}
    
   <input id="postbtn" type="submit" value="Post" class="btn"></input>
  </form>
</section>

{{#if posts.length}}
<section>
  <h2 style="padding-top: 2%;">Your Posts</h2>
  <div>
    {{#each posts as |post|}}
    <div>
      {{> post-info post}}
      <a href="/dashboard/edit/{{post.id}}" class="edit-link">Edit post</a>
    </div>
    {{/each}}
  </div>
</section>
{{/if}}
<script src="/javascript/add-image.js"></script>
<script src="/javascript/add-post.js"></script>