* {
    box-sizing: border-box;
  }
  
  body, html {
    height: 100%;
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    color: #333;
  }
  header a {
    background: -webkit-linear-gradient( #ff4e00 0%, #FF4500 74%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  
  }
  header nav a{
    font-size: 2.5vh;
  }
  div a {
    color: black;
  }
  a {
    text-decoration: none;
    color: #225ca3;
    
    font-weight: bold;
    transition: color .1s;
  }
  
  a:hover {
    color: #3486eb;
  }
  
  .btn {
    background: -webkit-linear-gradient( #ff4e00 0%, #FF4500 74%);
    border: 0;
    padding: .5%;
    padding-left: 3%;
    padding-right: 3%;
    color: white;
    font-weight: bold;
    transition: background-color .1s;
    cursor: pointer;
    border-radius: 5px;
   align-items: center;
  }
  #logout{
    background: -webkit-linear-gradient( #ff4e00 0%, #FF4500 74%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  
  .btn:hover {
    background-color: #3486eb;
    opacity: 50%;
  }
  
  .post-list {
    margin: 0;
    padding: 0;
  }
  
  textarea, input {
    
    padding: .5%;
  
    border: 1px solid #ccc;
  }
  
  textarea:focus, input:focus {
    outline: none;
    border: 2px solid #3486eb;
    
  }
  #email-login, #password-login, #username-signup, #email-signup, #password-signup{
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: lightgrey solid 2px;
    outline: none;
    font-family: 'Roboto', sans-serif;
    
  }

  textarea {
    min-width: 400px;
    min-height: 120px;
    margin-top: 1%;
    display: flex;
  }
  
  form > div {
    margin-bottom: 2%;
  }
  
  form label {
    display: block;
  }
  
  .wrapper {
    width: 100%;
    min-height: 100%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
  }
  
  header {
   
    border-bottom: 1px solid #ccc;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1%;
    width: 100%;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
    background-color: white;
    -webkit-box-shadow: 0 4px 6px -6px #222;
  -moz-box-shadow: 0 4px 6px -6px #222;
  box-shadow: 0 4px 6px -6px #222;
  }
  
  header h1 {
    font-size: 1em;
  }
  header img{
    margin-left: 5%;
  }
  
  main {
    flex: 1;
    padding: 2% 4%;
    align-content: center;
  }
  .btn-no-style {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    text-decoration: none;
    color: #225ca3;
    font-size: 100%;
    font-weight: bold;
    transition: color .1s;
    margin-left: 16px;
  }
  
  .btn-no-style:hover {
    background: none;
    color: #3486eb;
  }
  
  .delete-post-btn {
    background-color: #d41414;
  }
  
  .delete-post-btn:hover {
    background-color: #ff643d;
  }
  
  .post {
    margin-bottom: 2%;
    line-height: 150%;
  }
  
  .post .title span {
    font-style: normal;
    font-size: 80%;
    color: #7d7d7d;
    font-weight: normal;
  }
  
  .edit-link {
    display: block;
    margin: -1.5% 0 2% 0;
  }
  
  /* .upvote-btn {
    background-color: #197d0f;
    transition: background-color .1s;
  }
  
  .upvote-btn:hover {
    background-color: #1f9c13;
  } */

  /* STYLE FOR BUTTON */
  .custom-file-upload {
    border: none;
    display: inline-block;
    padding: 1px 5px;
   
    /* margin-bottom: 1%; */
    cursor: pointer;
    font-weight: bolder;
}
input[type="file"] {
  display: none;
}
  
  .comment-form {
    margin-bottom: 5%;
  }
  
  .comment {
    padding: 1%;
    margin-bottom: 1%;
  }
  
  .comment:nth-child(odd) {
    background-color: #fff5eb;
  }
  
  .comment .meta {
    font-size: 90%;
    margin-bottom: .5%;
    opacity: .6;
  }
  
  .new-post-form input {
    width: 300px;
  }
  
  .edit-post-form {
    margin-bottom: 5%;
  }
  
  footer {
    border-top: 1px solid #ccc;
    display: flex;
    justify-content: center;
    padding: 3%;
    font-size: 110%;
    background-color: rgb(219, 161, 161);

  }

  .title{
    border-top:lightgrey solid 1px;
    padding: 2px;
  }

.form-container {
  display: flex;
  flex-direction:row;
  flex-wrap: wrap;
  gap: 50px;
  justify-content: space-between;
}
.login-form {
  flex: 1;
  background-color: lightgray;
  border: 5px solid rgb(221, 135, 135);
  display:flex;
  justify-content:center;
  align-items:center;
  text-align: center;
  padding: 30px;
}
  .signup-form {
    flex: 1;
    background-color: lightgrey;
    border: 5px solid rgb(221, 135, 135);
    display:flex;
    justify-content:center;
    align-items:center;
    text-align: center;
    padding: 30px;
  }

  .input-field {
    width: 400px;
    font-size: 25px;
  }

  button {
    font-size: 24px;
  }

  .footer-container {
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
    gap: 50px;
    justify-content: space-between;
  }
 .homepage, .login, .logout{
   flex: 1;
 }
    
   